<h3>Welcome</h3>
{{#if user}}
        <span class="username">{{user.username}}</span>
        <a href="/auth/logout">Log Out</a>
        <nav class="home" id="menu">
                <a class="nav-trigger" href="#">
                    <input type="button" class="btn btn-dark btn-sm mt-3" value="Transfer"> </a>
            </nav>
            <div id="tokenSection">
                <input class="btn btn-primary btn-lg" type="button" onclick='requestAuthorization()'
                    value="Request Authorization">
                <input class="btn btn-primary btn-sm mt-3" type="button" onclick="ApiCalls()" value="Get Api Data">
            </div>
            <div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Post:</h3>

    <form class="form new-post">
      <div class="form-group">
        <label for="post-comment">Type Post Here:</label>
        <textarea class="form-input" id="post"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </form>
  </div>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
        {{else}}
        <a href="/login">Log In</a>
        <span>or</span>
        <a href="/register">Register</a>
      {{/if}}