<h3 class="text-center">Welcome</h3>
{{#if user}}
    <div class="container">
        <div class="text-center">
        <span class="username">{{user.username}}</span>
        </div>
    </div>
        {{!-- <nav class="home" id="menu">
                <a class="nav-trigger" href="#">
                    <input type="button" class="btn btn-dark btn-sm mt-3" value="Transfer"> </a>
            </nav> --}}
            <div id="tokenSection">
                {{!-- <input class="btn btn-primary btn-lg" type="button" onclick='requestAuthorization()'
                    value="Request Authorization"> --}}
                <input class="btn btn-primary btn-sm mt-3" type="button" onclick="ApiCalls()" value="Get Api Data">
            </div>
            <div class="row mt-4">
  <div class="col-md-12">

        <p class="spotpro"></p>
        <p class="playlist"></p>

<div class="col-md-6 container">
    <div class="text-left">
    <h3>Create a New Post:</h3>

    <form action="/user" method="post" class="form new-post">
      <div class="form-group">
        <label class="align-top" for="post-comment">Type Post Here:</label>
        <textarea name="post" class="form-input" id="post"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </form>
  </div>

  {{#if user.posts}}
    <div class="offset-6 col-md-6 post-container">
        <div class="text-center">
        <h4 >My Posts:</h3>

        {{#each user.posts as |post|}}
        <div class="row mb-2">
            <div class="col-md-8">
                <h5><a class="new-posts" href="/post/{{post.id}}">{{post.post}}</a></h4>
            </div>
            <div class="col-md-4">
                <form method="post" action="/user/{{post.id}}">
                    <button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
                </form>
            </div>
        </div>
        {{/each}}
        </div>
    </div>
    </div>
</div>
  {{/if}}
    </div>
        {{else}}
        <a href="/login">Log In</a>
        <span>or</span>
        <a href="/register">Register</a>
        {{/if}}